<configuration scan="true" scanPeriod="60 seconds">
    <property name="LOG_PATH" value="logs"/>
    <property name="DEBUG_LOG_PATH" value="debug/%d{yyyy-MM}/debugLog"/>
    <property name="INFO_LOG_PATH" value="info/%d{yyyy-MM}/infoLog"/>
    <property name="WARN_LOG_PATH" value="warn/%d{yyyy-MM}/warnLog"/>
    <property name="ERROR_LOG_PATH" value="error/%d{yyyy-MM}/errorLog"/>
    <property name="CONSOLE_LOG_PATTERN" value="%green([%d{yyyy-MM-dd HH:mm:ss}]) %magenta([%thread]) %highlight([%level]) - %msg%n"/>
    <property name="LOG_PATTERN" value="[%d{yyyy-MM-dd HH:mm:ss}] [%thread] [%level] - %msg%n"/>


    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">

        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>DEBUG</level>
        </filter>

        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <Pattern>${CONSOLE_LOG_PATTERN}</Pattern>
        </encoder>

    </appender>

    <appender name="INFO_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">

        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>INFO</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>

        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>${LOG_PATTERN}</pattern>
        </encoder>

        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${LOG_PATH}/${INFO_LOG_PATH}.%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <totalSizeCap>3GB</totalSizeCap>
            <maxHistory>1</maxHistory>
            <maxFileSize>10MB</maxFileSize>
        </rollingPolicy>

    </appender>

    <appender name="WARN_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">

        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>WARN</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>

        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>${LOG_PATTERN}</pattern>
        </encoder>

        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${LOG_PATH}/${WARN_LOG_PATH}.%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <totalSizeCap>3GB</totalSizeCap>
            <maxHistory>1</maxHistory>
            <maxFileSize>10MB</maxFileSize>
        </rollingPolicy>

    </appender>

    <appender name="ERROR_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">

        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>ERROR</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>

        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>${LOG_PATTERN}</pattern>
        </encoder>

        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${LOG_PATH}/${ERROR_LOG_PATH}.%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <totalSizeCap>3GB</totalSizeCap>
            <maxHistory>1</maxHistory>
            <maxFileSize>10MB</maxFileSize>
        </rollingPolicy>

    </appender>

    <springProfile name="local">

        <root level="INFO">
            <appender-ref ref="CONSOLE"/>
            <appender-ref ref="INFO_FILE"/>
            <appender-ref ref="WARN_FILE"/>
            <appender-ref ref="ERROR_FILE"/>
        </root>

        <logger name="com.echall.platform" level="DEBUG"/>

    </springProfile>

    <springProfile name="dev">

        <root level="INFO">
            <appender-ref ref="INFO_FILE"/>
            <appender-ref ref="WARN_FILE"/>
            <appender-ref ref="ERROR_FILE"/>
        </root>

        <logger name="com.echall.platform" level="DEBUG"/>

    </springProfile>

    <springProfile name="prod">

        <root level="INFO">
            <appender-ref ref="INFO_FILE"/>
            <appender-ref ref="ERROR_FILE"/>
        </root>

    </springProfile>

</configuration>